:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  background-color: var(--light);
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  border: 5px dashed #0f7173;
  padding: 10px;
  margin: 10px;
}

img {
  width: 250px;
}
